<div>
  <div>
    <h1>
      List of users
    </h1>
  </div>
</div>

<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Username
        </th>

        <th>
          Private?
        </th>

        <th>
        </th>


        <th>
        </th>
      </tr>

      <% @list_of_users.each do |a_user| %>
      <tr>
        <td>
          <%= a_user.username %>
        </td>

        <td>
          <% if a_user.private == true %>
            Yes
          <% else %>
            No
          <% end %>
        </td>

        <td>
          <% if current_user %>
            <button>Follow</button>
          <% end %>
        </td>

        <td>
          <% if !current_user %>  <!-- Check if user is not signed in -->
            <p class="warning">You need to sign in or sign up before continuing.</p>
          <% elsif a_user.private != true || a_user.id == current_user.id %>
            <a href="/users/<%= a_user.id %>">
              Show detail
          <% else%>
            <a href="" >
              Show detail
          <% end %>
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
